*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FFFFFF;
}
header{
   width: 88%;
   height: 120px;
   top: 0;
   background-color: #F3ECFF;
   z-index: 1;
   padding: 10px 20px;
   position: fixed;
   display: flex;
   justify-content: space-evenly;
   margin-left: 6%;
   margin-right: 6%;
   margin-top: 10px;
}

.b{
	font-family: 'Franklin Gothic';
	font-size: 18pt;
	text-decoration: none;
	color: #2B2B2B;
	border-radius: 10px;
	justify-content: center;
    align-items: center;
    display: flex;
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    margin: 15px;
}
.midle{
	padding-top: 140px;
    display: flex;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    background-color: #CCCCCC;
}
.ml1{
	text-indent: 30px;
    width: 305px;
    font-size: 18pt;
    font-family: serif;
}
.ml11{
	font-style: normal;
}
.ml111{
	font-style: italic;
}
.ml12{
	quotes: "“" "„";
	font-style: oblique;
}
.mr{
	width: 1000px;
	float: left;
	font-size: 18pt;
    font-family: cursive;
    background-color: #F2F2F2;
}
.mr2{
	width: 1000px;
	float: left;
	font-size: 18pt;
    font-family: Georgia, serif;
    background-color: #F2F2F2;
}
.name{
	font-weight: bolder;
	font-size: 26pt;
}
.vid{
	text-align: center;
}
table{
   width: 800px;
   font-family: Georgia, serif;
   font-size: 18pt;
   border-collapse: collapse;
   margin-left: auto;
   margin-right: auto 
}
caption{
	text-align: left;
	font-weight: bolder;
	font-size: 22pt;
}
th, td{
	border: 1px solid black;
}
tr.d{
	background-color: #DBE0FF;
}
tr.f{
	background-color: #A2AEFF;
}
footer{
	bottom: 0;
	background-color: #AAA;
    height: 40px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
    font-size: 16pt;
}
*{box-sizing:border-box}
.slideshow-container {
	width: 1000px;
}
.mySlides {
    display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18pt;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.mr21{
	text-indent: 30px;
	font-size: 22pt;
	font-family: Georgia, serif;
}
.g{
	font-size: 50pt;
	float: left;
}
.gr{
	font-size: 50pt;
	float: right;
}
.mr22{
	margin-top: 20px;
	font-size: 22pt;
	font-family: Georgia, serif;
}
.fr{
	font-size: 24pt;
	font-weight: bold;
	font-style: italic;
}
.mr3{
	margin-top: 20px;
	clear: both;
	text-indent: 30px;
}
.im{
	width:300px;
	height: 300px;
	float: left;
}
.us{
	text-decoration: underline;
}
ul{
	margin-left: 50px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
